
.auth {
    text-align: center;
    display: flex;
    align-items: center;
}

label {
    font-size: 2rem;
}

body {
    font-family: "Crimson Text";
    margin: 0;
}

h1 {
    font-size: 80px;
    margin: auto;
}

form {
    align-items: center;
    padding: 20px;
}

button {
    border-radius: 0.5rem;
    border: none;
    background-color: darkblue;
    font-size: 2rem;
    color: white;
}

button:hover {
    cursor:pointer;
}

form input {
    background-color: whitesmoke;
    border: none;
    padding: 1rem;
    margin:10px;
    border-radius: 1rem;
    font-size: 1rem;
    color: black;
    box-shadow: 0.3rem 0.4rem blue;
    justify-content: center;
}

#submit:hover {
    cursor:pointer;
}

form input:focus {
    border-color: antiquewhite;
}
