
.login-form {
    text-align: center;
}

body {
    font-family: "Crimson Text";
}

h1 {
    font-size: 100px;
    margin: auto;
}

form {
    display: flex;
    align-items: center;
}

#sign-up {
    border-radius: 1rem;
    border-width: 1rem;
    border-color: black;
    background-color: wheat;
    font-size: 2rem;
}

form input {
    background-color: whitesmoke;
    border: none;
    padding: 1rem;
    margin:10px;
    border-radius: 1rem;
    font-size: 1rem;
    color: black;
    box-shadow: 0.3rem 0.4rem blue;
}

#submit:hover {
    cursor:pointer;
}

form input:focus {
    border-color: antiquewhite;
}
